*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head-down{
    height: 30px;
    background-color: rgb(40, 84, 84);
}
.head-down ul{
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head-down ul li{
    list-style: none;
}
.head-down ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}